@page "/counter"
@using ElectronicRecyclingSystem.Client.Components

<PageTitle>Counter</PageTitle>

<div>
    <h1>Counter</h1>

    <p role="status">Current count: @currentCount</p>

    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
</div>

<button type="button" class="btn btn-danger btn-sm" @onclick="OpenDeleteDialog">Delete</button>

@if (DialogOpen)
{
    <RecyclingApplicationItemDetails OnClose="@OnDeleteDialogClose">
    
    </RecyclingApplicationItemDetails>
}

@code {
    private bool DialogOpen { get; set; }
    
    private void OnDeleteDialogClose(bool accepted)
    {
        DialogOpen = false;
        StateHasChanged();
    }
    
    private void OpenDeleteDialog()
    {
        DialogOpen = true;
        StateHasChanged();
    }
    
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

}